<div class="chat-list-container">

  <div class="search-section">
    <input 
      type="text" 
      [(ngModel)]="ngModelSearch" 
      placeholder="Search chats..." 
      class="search-input"
    />
    <button (click)="onSearchClick()" class="search-icon-btn">
      🔍
    </button>
  </div>
  
  <h2>Chats: </h2>

  <div class="list">
    @for (chat of chats; track chat.id) {
      <div class="chat-item" [routerLink]="['/chat', chat.id]">
        <div class="avatar">{{ chat.name[0] }}</div>
        <div class="info">
          <span class="name">{{ chat.name }}</span>
          <p class="last-msg">{{ chat.last_message?.text }}</p>
        </div>
      </div>
    } @empty {
      <div class="empty-state">
        @if (isSearchActive) {
        <div class="icon">🔍</div>
        <h3>No matches!</h3>
        <p>We couldn't find any chats matching "{{ ngModelSearch }}".</p>
        <button (click)="ngModelSearch=''; onSearchClick()" class="action-btn">Clear search</button>
      } @else {
        <div class="icon">💬</div>
        <h3>No chats yet!</h3>
        <p>You don't have active chats. Maybe you should find some friends?...</p>
        <button routerLink="/find-friends" class="action-btn">Find some friends</button>
      }
      
    </div>
    }
  </div>
  <button (click)="logout()" style="margin-bottom: 10px;">Log out</button>
</div>