<div class="chat-list-container">
  <h2>Chats: </h2>

  <div class="list">
    @for (chat of chats; track chat.id) {
      <div class="chat-item" [routerLink]="['/chat', chat.id]">
        <div class="avatar">{{ chat.name[0] }}</div>
        <div class="info">
          <span class="name">{{ chat.name }}</span>
          <p class="last-msg">{{ chat.last_message?.text }}</p>
        </div>
      </div>
    } @empty {
      <div class="empty-state">
      <div class="icon">💬</div>
      <h3>No chats!</h3>
      <p>You don't have active chats. Maybe you should find some friends?...</p>
      <button routerLink="/find-friends" class="action-btn">Найти друзей</button>
    </div>
    }
  </div>
  <button (click)="logout()" style="margin-bottom: 10px;">Log out</button>
</div>