<div class="chat-container">
  <div class="chat-header">
    <button class="back-btn" routerLink="/chats">←</button>
    @if (!selectedMessageId) {
      <span class="chat-name">Chat #{{ chatId }}</span>
    } 
    @else {
      <div class="header-actions">
        <span class="action-title">Message selected</span>
        <div class="action-buttons">
          <button (click)="startEditFromTop()" title="Edit text">✏️ Edit</button>
          <button (click)="deleteSelectedMessage()" title="Delete forever">🗑️ Delete</button>
          <button (click)="selectedMessageId = null" title="Cancel" class="cancel-btn">X</button>
        </div>
      </div>
    }
  </div>

  <div class="messages-list" #scrollContainer>
    @for (msg of messages; track msg.id) {
      <div class="message-wrapper" [class.my-message]="msg.sender.id === currentUserId">
        
        <div class="message-bubble" (click)="toggleSelectMessage(msg, $event)", [class.selected]="selectedMessageId === msg.id">
          
          @if (editingMessageId !== msg.id) {
            <p class="text">{{ msg.text }}</p>
          }

          @else {
            <div class="edit-box" (click)="$event.stopPropagation()">
              <input [(ngModel)]="editBuffer" (keyup.enter)="saveEdit(msg.id)" class="edit-input">
              <div class="edit-buttons">
                <button class="btn-save" (click)="saveEdit(msg.id)"><span>✅</span> Save </button>
                <button class="btn-cancel"(click)="cancelEdit()"><span>❌</span> Cancel </button>
              </div>
            </div>
          }
          
          <span class="time">
            {{ msg.created_at | date:'HH:mm' }}
          </span>
        </div>
      </div>
    } @empty {
      <div class="empty-chat">
      <div class="wave-icon">👋</div>
      <p>No messages...</p>
      <span>Start your conversation!</span>
    </div>
  }
  </div>

  <div class="input-area">
    <input 
      type="text" 
      [(ngModel)]="newMessage" 
      (keyup.enter)="send()" 
      placeholder="Type..."
    >
    <button (click)="send()" [disabled]="!newMessage || !newMessage.trim()">➤</button>
  </div>
</div>