
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;  
  margin: 0 auto;
  border: 1px solid #ddd;
  background-color: #fffafc; 
}

.chat-header {
  padding: 15px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffeff4;
}

.back-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
  color: #ff85b3;
}

.chat-name{
  font-weight: bold;
  color: #b54777;
  font-size: 1.1rem;
}
.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-wrapper {
  display: flex;
  width: 100%;
}

.message-bubble {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-bottom-left-radius: 5px;
}

.my-message {
  justify-content: flex-end;
}

.my-message .message-bubble {
  background-color: #ff85b3; 
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 2px;
}

.sender-name {
  font-size: 0.75rem;
  font-weight: bold;
  color: #b54777;
  display: block;
  margin-bottom: 2px;
}

.my-message .sender-name {
  color: #ffe0eb;
}

.text { margin: 5px 0; line-height: 1.4; }

.time {
  font-size: 0.65rem;
  color: #ffc1d6;
  float: right;
}

.input-area {
  padding: 15px;
  background: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  border-top: 1px solid #ffeff4;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ffe0eb;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.2s;
}
.input-area input:focus {
  border-color: #ff85b3;
}

.input-area button {
  background: #ff85b3;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background-color 0.2s;
}

.input-area button:hover:not(:disabled) {
  background-color: #ff66a3;
  transform: scale(1.05);
}

.empty-chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #ffc1d6;
  text-align: center;
  height: 100%;
  
}

.wave-icon {
  font-size: 50px;
  margin-bottom: 15px;
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%;
}

.empty-chat p {
  font-size: 18px;
  font-weight: 500;
  color: #b54777;
  margin-bottom: 5px;
}

.empty-chat span {
  font-size: 14px;
  opacity: 0.8;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}