<div class="login-page">
  <div class="left-section">
    <h1 class="logo">messenger</h1>
    <p class="tagline">
      Meet people you know and discover new ones. Connect with friends and family right away.
    </p>
  </div>

  <div class="right-section">
    <div class="card">
      <h2>Login to Messenger</h2>
      
      <div class="input-group">
        <input 
          type="text" 
          [(ngModel)]="username" 
          placeholder="your nickname " 
        />
      </div>

      <div class="input-group">
        <input 
          type="password" 
          [(ngModel)]="password" 
          placeholder="Password" 
        />
      </div>

      <button (click)="login()" class="login-btn">
        Войти
      </button>

      <div class="divider"></div>

      <button class="register-btn" routerLink="/register">
        Create new account
      </button>
    </div>
  </div>
</div>